{% extends "base/dashboard/landing.html" %}
{% block about_us %}
    <p>The Shared Community Lab at the IOL aims to help development and testing of LFN projects by hosting hardware and providing access to the community.</p>
    <p>To get started, you can request access to a server at the right.</p>
{% endblock about_us %}

{% block btnGrp %}
<style>
.btnAkr {
    color: #fff;
    background-color: #39c0c0;
}
.btnAkr:hover{
    color: #fff;
    background-color: #259a9a;
}
</style>
<p>To get started, book a pod below:</p>
<a class="btn btnAkr btn-lg d-flex flex-column justify-content-center align-content-center border text-white p-4" href="/booking/quick/">Book a Pod</a>
{% endblock btnGrp %}
{% block returningUsers %}
{% endblock returningUsers %}
